.impressum-main-container {
	margin-left: 160px;
	margin-right: 160px;
	margin-bottom: 24px;
	display: flex;
	justify-content: center;
}

.impressum-main-container a {
	text-decoration: none;
}

.impressum-main-container a:hover {
	text-decoration: underline;
}

/* Responsive */

@media (max-width: 600px) {
	.impressum-main-container {
		margin-left: 16px;
		margin-right: 16px;
		margin-bottom: 24px;
	}
}
