.rezept-des-tages-main-container {
	margin-top: 80px;
	margin-left: 160px;
	margin-right: 160px;
}

.rezept-des-tage-img-container {
	width: 100%;
}

.rezept-des-tages-img {
	height: 200px;
	width: 100%;
	border-radius: 12px;
}

.rezept-des-tages-infos-container {
	margin-top: 24px;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 24px;
	padding-bottom: 56px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.rezept-des-tages-infos-icons {
	width: 16px;
	height: 16px;
}
.rezept-des-tages-inofs {
	padding: 5px 5px 5px 5px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.03);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
.rezept-des-tages-zutaten-container-main {
	margin-top: 16px;
}
.rezept-des-tages-input {
	padding: 8px 8px 8px 8px;
	border: 1px solid rgba(0, 0, 0, 0.03);
	border-start-start-radius: 8px;
	border-bottom-left-radius: 8px;
	width: 160px;
	padding-inline: 8px;
}
.rezept-des-tages-input:focus {
	outline: none;
}
.rezept-des-tages-submit-button {
	border: 1px solid;
	background-color: green;
	padding: 8px 32px 8px 32px;
	margin-left: -4px;
	color: rgba(255, 255, 255, 0.904);
	cursor: pointer;
}
.rezept-des-tages-submit-button:hover {
	background-color: rgba(0, 150, 0, 1);
}

.rezept-des-tages-zutaten-container {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	margin-bottom: 24px;
}
.rezept-des-tages-span {
	width: 100%;
	padding: 16px 16px 16px 16px;
	border-radius: 12px;
	font-size: 16px;
	font-family: "Raleway";
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 8px;
}
.rezept-des-tages-span-grey {
	background-color: rgba(0, 0, 0, 0.03);
}
.rezept-des-tages-value {
	font-family: "Raleway";
	font-size: 16px;
}

.error-message {
	color: red;
	font-size: 16px;
	/* display: flex;
	justify-content: center; */
	text-align: start;
	padding-left: 16px;
}
.error-border {
	border-color: red;
}

.rezept-des-tages-zubereitung-img-container-main {
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin-bottom: 40px;
}

.rezept-des-tages-zubereitung-info-text {
	margin-bottom: 40px;
}

.rezept-des-tages-img-erstellt-von {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.rezept-des-tages-img-container-erstellt-von {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 40px;
}
.rezept-des-tages-name {
	font-size: 24px;
	font-weight: 500;
}
.rezept-des-tages-zubereitung-section {
	margin-bottom: 80px;
}

/* Neu */

.rezept-des-tages-main-section {
	height: 33vh;
	width: 100%;
}
.alling-center {
	display: flex;
	align-items: center;
}
.rezept-des-tages-img-1 {
	width: 400px;
	border-radius: 12px;
}
.rezept-des-tages-div-1 {
	display: flex;
	flex-direction: row;
	gap: 24px;
	padding-left: 160px;
	padding-right: 160px;
}
.rezept-des-tages-div-1-items-headline {
	margin-block-start: 0;
	margin-block-end: 0;
}

.bg-grey {
	background-color: rgba(0, 0, 0, 0.03);
}
.rezept-des-tages-div-1-items-text {
	display: flex;
	flex-direction: column;
}

.rezept-des-tages-div-2 {
	margin-left: 160px;
	margin-right: 160px;
}

.rezept-des-div-2-headline-container-div-2 {
	display: flex;
	justify-content: center;
}
.rezept-des-tages-div-2-img-container-main {
	display: flex;
	justify-content: space-between;
	margin-left: 160px;
	margin-right: 160px;
}

.rezept-des-tages-div-2-img {
	width: 100px;
	height: 100px;
}
.test {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.kevin {
	background-image: url(../assets/img/pasta-712664_1280.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 100%;
	border-radius: 12px;
}

.thomas {
	background-image: url(../assets/img/apfelstrudel.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 100%;
	border-radius: 12px;
}
.tobias {
	background-image: url(../assets/img/Quinoasalat.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 100%;
	border-radius: 12px;
}
