body {
	margin: 0;
	padding: 0;
	font-family: "Raleway";
	display: flex;
	flex-direction: column;
}

/* Header Anfang */
header {
	display: flex;
	justify-content: space-between;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.logo-container {
	margin-left: 160px;
	display: flex;
	align-items: center;
}

.header-img {
	cursor: pointer;
}

.navbar {
	margin-right: 160px;
	display: flex;
	align-items: end;
	gap: 16px;
}
.nav-items {
	text-decoration: none;
	font-size: 24px;
}

.nav-items-green {
	color: #00bd00;
	border-bottom: 2px solid #00bd00;
	font-weight: 500;
}
.nav-items-black {
	color: black;
}
.nav-items-black:hover {
	color: #00bd00;
	border-bottom: 2px solid #00bd00;
}
.burger-icon {
	display: none;
}

/* Header Ende */

/* Startseite Anfang */

.home-section-first {
	margin-top: 24px;
}
.home-headline-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.home-headline {
	font-size: 72px;
	margin-block-start: 0;
	margin-block-end: 0;
}
.home-img-container-main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.home-img {
	border: 0px solid;
	border-radius: 12px;
	width: 150px;
	height: 150px;
}
.home-img:hover {
	border: 2px solid #00bd00;
	border-radius: 12px;
}

/* Startseite Ende */

/* footer */
footer {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: auto;
	width: 100%;
}

.positon-absolut {
	position: absolute;
	bottom: 0;
}

.footer-img {
	padding-left: 160px;
	display: flex;
	align-items: center;
}

/* responsive desing */
@media (max-width: 1235px) {
	.logo-container {
		margin-left: 60px;
		display: flex;
		align-items: center;
	}
	.navbar {
		margin-right: 16px;
		display: flex;
		align-items: end;
		gap: 16px;
	}
}
@media (max-width: 1000px) {
	.nav-items {
		text-decoration: none;
		font-size: 16px;
	}
}

@media (max-width: 850px) {
	.navbar {
		display: none;
	}
	.burger-icon {
		display: flex;
		font-size: 80px;
	}
}

@media (max-width: 600px) {
	.header-img {
		width: 200px;
		height: 60px;
	}
	.logo-container {
		margin-left: 16px;
	}
	.footer-img {
		width: 200px;
		height: 60px;
		padding-left: 16px;
		display: flex;
		align-items: center;
	}
}
