.contac-form-container {
	display: flex;
	margin-top: 48px;
	flex-direction: column;
	align-items: center;
}

.contact-headline {
	font-size: 72px;
	margin-block-end: 0;
	margin-bottom: 24px;
}

.form-main {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.contact-input,
.contact-textarea {
	margin-bottom: 32px;
	font-size: 16px;
	padding: 16px 16px 16px 16px;
	border-radius: 8px;
	border: 1px solid;
	color: rgb(0, 0, 0);
	font-weight: 500;
}

.contact-textarea {
	font-family: "Raleway";
	border: 1px solid;
	color: rgb(0, 0, 0);
	font-weight: 500;
	font-size: 16px;
}
.contact-input::placeholder {
	font-family: "Raleway";
	color: rgba(0, 0, 0, 0.2);
}
.contact-textarea::placeholder {
	color: rgba(0, 0, 0, 0.2);
}

.contact-input,
.contact-textarea:focus {
	outline: none;
}

.contact-textarea {
	resize: none;
}
.submit-btn {
	font-size: 24px;
	padding: 5px 5px 5px 5px;
	background-color: green;
	border: 0px solid;
	border-radius: 8px;
	cursor: pointer;
}

.submit-btn:hover {
	background-color: rgba(0, 150, 0, 1);
}
label {
	display: flex;
	justify-content: center;
	font-size: 24px;
	font-weight: 500;
}

.error-message {
	color: red;
	font-size: 16px;
	margin-top: -30px;
	/* display: flex;
	justify-content: center; */
	text-align: start;
	padding-left: 16px;
}

.error-border {
	border-color: red;
}

@media (max-width: 450px) {
	.contact-headline {
		font-size: 58px;
	}
	.form-main {
		width: 250px;
	}
	label {
		font-size: 24px;
		color: black;
		font-weight: 500;
	}
	.contact-input {
		font-size: 16px;
	}
}
